body{
    background-color: #f8f8f8;
    margin:0;
    padding:30px;
    font-family: 'Coustard', serif;
    font-family: 'IBM Plex Mono', monospace;
}

#main{
    background-color: blue;
    transition: background-color 1500ms ease;
    color: blanchedalmond;
    height: calc(100vh - 60px - 80px);
    padding:40px;
    border-radius: 14px;
    box-shadow: inset 0 0 15px #000000AA;
}

#typed-strings{
    display: none;
}

#typed{
    font-size: 50px;
    font-weight: 400;
}

#attribution{
    font-size: 10px;
    position: fixed;
    bottom:50px;
}

a, a:visited{
    color:white;
    text-decoration: none;
    text-decoration: line-through;
}

a:hover{
    text-decoration: none;
}